.sdk_delta.info
lang/ru.js
.sign/signature1.xml
.sign/author-signature.xml
.sign/.manifest.tmp
smarttv-twitch.wgt
app.json
index.html.old
*.old
lang/en.js
lang/en.js
lang.old/ru.js
lang.old/pt-br.js
lang.old/es.js
lang.old/en.js
lang.old/de.js
smarttv-twitch.zip
app/scenes/Copy of SceneBrowser.js
smarttvtwitch.wgt
app/scenes/bank.js
app/scenes/Copy of SceneChannel.js
*.wgt
css/*
js/*
TODO
release/app/*
release/config.xml
release/widget.info
release/release*.zip
release/.master.js
release/.tproject
release/.project
release/master.js
release/locales/
release/temp_maker/
