<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/bhb27/smarttv-twitch" version="1.0.0" viewmodes="maximized">
   <access origin="*" subdomains="true"></access>
   <tizen:application id="q27HyNzLIR.TwitchTest" package="q27HyNzLIR" required_version="2.4"/>
   <content src="index.html"/>
   <description xml:lang="en-gb">TwitchTest.tv</description>
   <feature name="http://tizen.org/feature/screen.size.normal.all"/>
   <feature name="http://tizen.org/feature/network.wifi"/>
   <feature name="http://www.samsungdforum.com/feature/Keyboard"/>
   <icon src="app/images/icon_16_by_9.png"/>
   <license xml:lang="en-gb" href="http://www.gnu.org/licenses/gpl.html">GNU GENERAL PUBLIC LICENSE</license>
   <name>TwitchTest</name>
   <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
   <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
   <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
   <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
   <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
   <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
   <tizen:profile name="tv-samsung-public"/>
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="false" encryption="disable" install-location="auto" hwkey-event="enable"/>
   <tizen:metadata key='samsung.com/tv/metadata/multitasking.support' value='true' />
   <!-- Smart Hub Preview-->
   <tizen:metadata key='http://samsung.com/tv/metadata/use.preview' value='endpoint_URL=http://yourServer/JSONfile.json'></tizen:metadata>
   <tizen:app-control>
      <tizen:src name='index.html' reload='disable'></tizen:src>
      <tizen:operation name='http://samsung.com/appcontrol/operation/eden_resume'></tizen:operation>
   </tizen:app-control>
</widget>
