@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src:url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src:url("fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
.fa {
  display: inline-block;
  font: normal normal normal 0 "icons";
  font-size: inherit;
  text-rendering: optimizeLegibility;
}
.fa-spin {
  animation: fa-spin 1s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.icon-circle:before {
  content: "\64";
}
.icon-search:before {
  content: "\68";
}
.icon-arrow-left:before {
  content: "\69";
}
.icon-heart-o:before {
  content: "\6b";
}
.icon-heart:before {
  content: "\6c";
}
.icon-pause:before {
  content: "\6d";
}
.icon-videocamera:before {
  content: "\70";
}
.icon-gamepad:before {
  content: "\71";
}
.icon-filmstrip:before {
  content: "\6f";
}
.icon-refresh:before {
  content: "\73";
}
.icon-user-plus:before {
  content: "\78";
}
.icon-users:before {
  content: "\75";
}
.icon-arrow-up:before {
  content: "\76";
}
.icon-movie-play:before {
  content: "\7a";
}
.icon-movie:before {
  content: "\41";
}
.icon-history:before {
  content: "\67";
}
.icon-play-1:before {
  content: "\45";
}
.icon-arrow-right:before {
  content: "\6e";
}
.icon-next:before {
  content: "\79";
}
.icon-back:before {
  content: "\46";
}
.icon-speedometer:before {
  content: "\48";
}
.icon-chat:before {
  content: "\49";
}
.icon-chat-stop:before {
  content: "\4b";
}
.icon-chat-brig:before {
  content: "\4f";
}
.icon-chat-pos:before {
  content: "\50";
}
.icon-chat-size:before {
  content: "\51";
}
.icon-chat-font:before {
  content: "\52";
}
.icon-chat-delay:before {
  content: "\4c";
}
.icon-resize-up:before {
  content: "\53";
}
.icon-resize-down:before {
  content: "\54";
}
.icon-sound-off:before {
  content: "\4d";
}
.icon-sound:before {
  content: "\4e";
}
.icon-pp:before {
  content: "\56";
}
.icon-user:before {
  content: "\4a";
}
.icon-offset:before {
  content: "\57";
}
.icon-star:before {
  content: "\61";
}
.icon-play:before {
  content: "\62";
}
.icon-key-right:before {
  content: "\63";
}
.icon-key-left:before {
  content: "\65";
}
.icon-key-down:before {
  content: "\66";
}
.icon-key-up:before {
  content: "\6a";
}
